* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://i.pinimg.com/originals/68/b5/80/68b5802287649ad7bb59cff215e28969.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.contenedor {
  display: flex;
  flex-direction: column;
  margin-top: -270px;
}
h1 {
  color: orange;
  font-size: 8vmin;
  margin-bottom: 50px;
  text-decoration: underline;
}
.camp {
  width: 30vw;
  margin-bottom: 10px;
}
button {
  color: aliceblue;
  width: 15vw;
  background-color: #097a03;
  border: 1px solid green;
  border-radius: 5px;
  margin-bottom: 50px;
}
#contador {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* margin-left: 205px; */
  margin-bottom: 25px;

  color: aliceblue;
}

.div-contador {
  display: block;
  margin-left: 45%;
}
.pcontador {
  color: whitesmoke;
  display: none;
}
.container {
  display: flex;

  color: aliceblue;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: -200px;
  background: rgba(255, 255, 255, 0.15);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: auto;
}
ul {
  width: 90%;
  height: 90%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
i {
  margin-right: 25px;
  color: #940b08;
}
checkbox{
 height: 15px;
}
.tareas {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  width: 100%;
  height: 25%;
 padding: 0;
  margin-right: 25px;
  margin-top: 15px;
  background: rgba(108, 242, 20, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media (min-width: 768px) {
  .camp {
    margin-left: -450px;
    width: 175px;
  }
  button {
    margin-left: -450px;
    margin-bottom: -300px;
    width: 175px;
  }
  #contador {
    margin-left: 300px;
  }
  .div-contador {
    margin-top: -30px;
    margin-bottom: 30px;
  }
  .pcontador {
    margin-top: -60px;
    margin-left: 400px;
    margin-bottom: 30px;
    display: block;
  }
}
@media (min-width: 1024px) {
  .camp {
    margin-right: 200px;
width: 240px;
height: 30px;
  }
  button {
    width: 240px;
    height: 30px;
    margin-right: 200px;
    margin-bottom: -100px;
  }
  #contador {
    margin-left: 500px;
    margin-bottom: -65px;
  }
  .pcontador {
    margin-right: -350px;
    margin-top: 0;
  }
  .container {
    width: 95vw;
   
  }
}
